/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    color: #555;
}

/* Header styles */
h1 {
    text-align: center;
    margin-top: 50px;
}

/* Product container styles */
.products {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for product items */
    justify-content: space-between; /* Space evenly between rows */
    max-width: 960px; /* Adjust the maximum width for the products */
    margin: 0 auto; /* Center-align the products container */
    padding: 20px;
}

/* Product item styles */
.product {
    text-align: center;
    max-width: calc(33.33% - 20px); /* Ensure three items per row with spacing */
    margin: 10px; /* Add spacing between products */
}

/* Image styles */
.product img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Description styles */
.description {
    margin: 10px 0;
}

/* Price styles */
.price {
    font-weight: 600;
    color: #9b0b03;
}

/* Add to Cart button styles */
.cart {
    background-color: #3e628f;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}
